
.Cell{
    background-image: url("../images/emptySocket.png");
    background-size: 50px;
    background-repeat: no-repeat;
    width: 65px;
    height: 49px;
    background-position-x: center;
}
.Cell.black {
    background-image: url("../images/blackPeg.png");
}
.Cell.blue {
    background-image: url("../images/bluePeg.png");
}
.Cell.gold {
    background-image: url("../images/goldPeg.png");
}
.Cell.green {
    background-image: url("../images/greenPeg.png");
}
.Cell.orange {
    background-image: url("../images/orangePeg.png");
}
.Cell.red {
    background-image: url("../images/redPeg.png");
}
.Cell.white {
    background-image: url("../images/whitePeg.png");
}

.Cell.brown {
    background-image: url("../images/brownPeg.png");
}
