.Board {
    display: block;
    width: auto; 
    height: auto;
    margin: 0px auto;
    /* background-color: rosybrown; */
    border-style: groove;
    border-width: 5px;
}

.Board .tr button {
    padding: 4px 0;
}

.Board.black {
    cursor: url("./images/cursor/black.cur") 15 15, auto;
}

.Board.blue {
    cursor: url("./images/cursor/blue.cur") 15 15, auto;
}

.Board.brown {
    cursor: url("./images/cursor/brown.cur") 15 15, auto;
}

.Board.gold {
    cursor: url("./images/cursor/gold.cur") 15 15, auto;
}

.Board.green {
    cursor: url("./images/cursor/green.cur") 15 15, auto;
}

.Board.orange {
    cursor: url("./images/cursor/orange.cur") 15 15, auto;
}

.Board.red {
    cursor: url("./images/cursor/red.cur") 15 15, auto;
}

.Board.white {
    cursor: url("./images/cursor/white.cur") 15 15, auto;
}

.Board.default {
    cursor: default;
}
